html {
    scroll-behavior: smooth;
}

.w3-red {
    background-color: hsl(0, 72%, 30%) !important;
}

.button-group {
    border-radius: 15px !important;
}


/* html {
    height: 100vh !important;
    border: 1px solid blue;
} */

section:not(:last-child) {
    border-bottom: 3px dashed grey;
}

section:nth-child(even) {
    background-color: lightGrey;
}

#get-help .button-group a {
    display: inline-block !important;
    width: 11.5em;
}

#get-help article h3.right {
    border-radius: 0 8px 8px 0;
}

ul li a {
    color: rgb(50, 55, 63);
    text-decoration: underline;
    text-transform: capitalize;
}

ul {
    list-style-type: none;
}

ul li a:hover {
    color: hsl(0, 72%, 30%);
}

.w3-modal-content {
    min-height: 10em;
    box-shadow: black 0 0 15px;
}

.w3-modal-content header {
    height: 38px;
    padding: 0;
}

/* .distance {

} */